<div class="container border border-gray-300 rounded-lg shadow-md min-w-[350px] p-[10px] mb-[8px]">
	<h3 class="text-[21px] font-semibold text-[#000000] mb-2 text-left text-alignment-f">{{title()}}</h3>

	<div>
		<!-- Visitor Item 1 -->
		@for (visitor of visitorSummary(); track visitor.visitor_name) {
			<div class="flex justify-between items-center mb-4">
				<div class="text-alignment-f flex-wrap">
					<p class="w-full text-[18px] font-medium text-[#000000] text-left">
						{{visitor?.visitor_name}}
						@if (visitor?.visitor_contact_number) {
							<span class="text-[15px] text-[#000000] font-light text-left">• {{visitor?.visitor_contact_number}}</span>
						}
					</p>
					
					@if (visitor?.visit_context) {
						<p class="w-full text-[16px] text-[#000000] font-light text-left">{{visitor?.visit_context}}</p>
					}
				</div>

				<div class="flex text-alignment-f">
					<div class="text-center bg-[#00476D1A] text-[#000000]700 text-[16px] font-semibold px-3 py-1 rounded-full">
						{{visitor?.visited_dates}}
					</div>
				</div>
			</div>
		}
	</div>
</div>