<div class="container border border-gray-300 rounded-lg shadow-md mb-[8px]" [class.min-w-[500px]]="showManHours()">
    <div class="flex justify-between items-center rounded-t-[20px]">
        <div class="px-[12px] py-[4px] border-r-[2px] e-flex bg-[#00263A1A] text-alignment-f" style="border-top-left-radius: 20px; border-color: white;">
            <h3 class="text-left text-[18px] font-light text-[#000000] w-full">Service Provider</h3>
        </div>

        <div class="px-[12px] py-[4px] e-flex bg-[#00263A1A] text-alignment-f">
            <h3 class="text-center text-[18px] font-light text-[#000000 w-full">Active Days</h3>
        </div>

        @if (showManHours()) {
            <div class="px-[12px] py-[4px] border-l-[2px] e-flex bg-[#00263A1A] text-alignment-f" style="border-top-right-radius: 20px; border-color: white;">
                <h3 class="text-center text-[18px] font-light text-[#000000] w-full">Man Hours</h3>
            </div>
        }
        
    </div>

    <!-- Service Provider List -->
    <div class="p-[2px]">
        <!-- Item 1 -->
       @for (summary of attendanceSummary()?.attendance_summary; track summary?.contract_name) {
        <div class="flex items-center px-[4px] py-[2px] rounded-[60px] mb-4" [class.bg-red-50]="summary?.color_theme === 'critical'">

            <div class="e-flex flex">
                @if(summary?.service_provider_profile_url) {
                    <img [src]="summary?.service_provider_profile_url" class="w-[55px] h-[55px] rounded-full object-cover" />
                } @else {
                    <div class="text-center w-[55px] h-[55px] rounded-full bg-gray-200 flex items-center justify-center text-[#000000] text-sm">
                        {{summary?.service_provider_name ? summary?.service_provider_name.charAt(0) : ''}}
                    </div>
                }

                <div class="flex-1 ml-4  text-alignment-f flex-wrap">
                    @if (summary?.service_provider_name) {
                        <p class="text-left text-[20px] font-semibold text-[#000000] w-full">{{summary?.service_provider_name}}</p>
                    }
                    <p class="text-left text-[17px] font-normal underline text-[#000000] w-full">{{summary?.contract_name}}</p>
                </div>
            </div>

            <div class="e-flex  text-alignment-f">
                <p class="w-full text-center text-[30px] font-extrabold text-[#000000]">
                    {{summary?.active_days_count}}
                    <span class="text-left text-[14px] font-semibold text-[#000000]">out of {{attendanceSummary()?.total_days_count}}</span>
                </p>
                
            </div>

            @if (summary?.man_hours) {
                <div class="text-[#444444] e-flex  text-alignment-f">
                    <p class="w-full text-[30px] font-extrabold text-center">
                        {{summary?.man_hours}} 
                        @if(summary?.man_hours > 0) {
                            <span class="text-left text-[30px] font-extrabold ml-[-.5rem]">+</span>
                        }
                        @if (summary?.worked_overtime) {
                            <span class="text-left text-[14px] font-semibold text-[#444444] ml-[4px]">OT</span>
                        }
                    </p>
                </div>
            }
        </div>
       }

    </div>
</div>