<div class="container border border-gray-300 rounded-lg shadow-md bg-white" [class.min-w-[500px]]="showManHours()">
    <div class="flex justify-between items-center bg-gray-100 rounded-t-[20px]">
        <div class="px-[12px] py-[4px] border-r-[2px] border-white-600 e-flex">
            <h3 class="text-[12px] font-light">Service Provider</h3>
        </div>

        <div class="px-[12px] py-[4px] e-flex">
            <h3 class="text-[12px] font-light">Active Days</h3>
        </div>

        @if (showManHours()) {
            <div class="px-[12px] py-[4px] border-l-[2px] border-white-600 e-flex">
                <h3 class="text-[12px] font-light">Man Hours</h3>
            </div>
        }
        
    </div>

    <!-- Service Provider List -->
    <div class="p-[2px]">
        <!-- Item 1 -->
       @for (summary of attendanceSummary()?.attendance_summary; track summary?.contract_name) {
        <div class="flex items-center px-[4px] py-[2px] rounded-[60px]" [class.bg-red-50]="summary?.color_theme === 'critical'">
            
            @if(summary?.service_provider_profile_url) {
                <img [src]="summary?.service_provider_profile_url" [alt]="summary?.service_provider_name" class="w-[32px] h-[32px] rounded-full object-cover" />
            } @else if (summary?.service_provider_name) {
                <div class="w-[32px] h-[32px] rounded-full bg-gray-200 flex items-center justify-center text-gray-400 text-sm">
                    {{summary?.service_provider_name.charAt(0)}}
                </div>
            }

            <div class="flex-1 ml-4">
                @if (summary?.service_provider_name) {
                    <p class="text-[12px] font-semibold">{{summary?.service_provider_name}}</p>
                }
                <p class="text-[9px] font-normal underline">{{summary?.contract_name}}</p>
            </div>

            <div class="text-[#444444] e-flex">
                <p class="text-[22px] font-extrabold">{{summary?.active_days_count}}</p>
                <p class="text-[10px] font-semibold text-gray-500">out of {{attendanceSummary()?.total_days_count}}</p>
            </div>

            @if (summary?.man_hours) {
                <div class="text-[#444444] e-flex">
                    <p class="text-[22px] font-extrabold">
                        {{summary?.man_hours}} 
                        @if(summary?.man_hours > 0) {
                            +
                        }
                        @if (summary?.worked_overtime) {
                            <sub class="text-[10px] font-semibold text-gray-500">OT</sub>
                        }
                    </p>
                </div>
            }
        </div>
       }

    </div>
</div>