<div class="container border border-gray-300 rounded-lg shadow-md min-w-[350px] p-[10px] mb-[8px]">
	<h3 class="text-[21px] font-semibold text-[#000000] mb-2 text-left  text-alignment-f">{{title()}}</h3>

	<div>
		<!-- Visitor Item 1 -->
		@for (summary of materialSummary(); track summary.material_name) {
			<div class="flex justify-between items-center mb-4">
				<div class="text-alignment-f flex-wrap">
					<p class="w-full text-[18px] font-medium text-[#000000] text-left">
						{{summary?.material_name}}
					</p>
					
					@if (summary?.material_date) {
                        <p class="w-full text-[15px] text-[#000000] font-light text-left">{{summary?.material_date}}</p>
                    }
				</div>

				<div class="flex  text-alignment-f">
					<div class="bg-[#00476D1A] text-[#000000] text-[16px] font-semibold px-3 py-1 rounded-full text-center"
                        [class.bg-[#FF7B0080]]="summary?.color_theme === 'Warning'"
                        [class.bg-[#E1080859]]="summary?.color_theme === 'Critical'">
						{{summary?.availability_status}}
                    </div>
				</div>
			</div>
		}
	</div>
</div>